.swap-page {
  width: 80%;
  margin-top: 40px;
}
.swap-page .swap-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.swap-page .swap-content .swap-header {
  text-align: center;
}
.swap-page .swap-content .swap-header h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 8px;
}

.swap-page .swap-content .swap-header p {
  color: #607d8b;
  font-size: 16px;
  font-weight: 600;
}

/* .swap-page .swap-content .swap-exchange {
} */

.swap-page .swap-content .swap-exchange .swap-dropdowns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.swap-page .swap-content .swap-exchange .swap-dropdowns .left-drop {
  box-shadow: 0 0 0 1px #607d8b1a, 2px 2px 10px #16172159;
  background-color: #161721;
  border-radius: 8px;
  display: flex;
  position: relative;
  margin-right: 20px;
}

.swap-page .swap-content .swap-exchange .swap-dropdowns .left-drop input {
  background-color: transparent;
  color: white;
  border: none;
  padding: 16px;
}
.swap-page .swap-content .swap-exchange .swap-dropdowns .left-drop input:focus {
  outline: none;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .left-drop
  input:nth-last-child(1) {
  border-left: 1px solid rgba(96, 125, 139, 0.25);
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .left-drop
  .input-container {
  position: relative;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .left-drop
  .input-container
  .icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.swap-page .swap-content .swap-exchange .swap-dropdowns .left-drop .first-drop {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #161721;
  z-index: 10;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 0 1px #607d8b40, 2px 2px 10px #16172159;
  max-height: 11rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .left-drop
  .first-drop
  .first-drop-container {
  display: flex;
  justify-content: space-between;
  color: #607d8b;
  padding: 10px;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .left-drop
  .first-drop
  .first-drop-container
  .drop-img {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .left-drop
  .first-drop
  .first-drop-container
  .drop-img
  img {
  margin-right: 10px;
}

/* second */

.swap-page .swap-content .swap-exchange .swap-dropdowns .right-drop {
  box-shadow: 0 0 0 1px #607d8b1a, 2px 2px 10px #16172159;
  background-color: #161721;
  border-radius: 8px;
  display: flex;
  position: relative;
  margin-left: 20px;
}

.swap-page .swap-content .swap-exchange .swap-dropdowns .right-drop input {
  background-color: transparent;
  color: white;
  border: none;
  padding: 16px;
}
.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  input:focus {
  outline: none;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  input:nth-last-child(1) {
  border-left: 1px solid rgba(96, 125, 139, 0.25);
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  .input-container {
  position: relative;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  .input-container
  .icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  .second-drop {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #161721;
  z-index: 10;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 0 1px #607d8b40, 2px 2px 10px #16172159;
  max-height: 11rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  .second-drop
  .second-drop-container {
  display: flex;
  justify-content: space-between;
  color: #607d8b;
  padding: 10px;
}

.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  .second-drop
  .second-drop-container
  .drop-img {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.swap-page
  .swap-content
  .swap-exchange
  .swap-dropdowns
  .right-drop
  .second-drop
  .second-drop-container
  .drop-img
  img {
  margin-right: 10px;
}

/* rate */

.swap-page .swap-content .swap-rate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
  /* margin-top: 30px; */
  padding: 30px 0;
  border-bottom: 1px solid #607d8b;
}
.swap-rate-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.swap-page .swap-content .swap-rate h5 {
  color: #607d8b;
  margin: 10px 0;
}
.swap-page .swap-content .swap-rate .estimated {
  padding: 8px;
  border: 1px solid rgba(96, 125, 139, 0.5);
  font-size: 12px;
  font-weight: 500;
  color: #607d8b;
  /* margin-top: 1rem; */
}

.swap-page .swap-content .swap-rate .estimated strong {
  color: white;
}

.swap-page .swap-content .swap-rate .swap-rate-container .swap-rate-fee h5 {
  color: #607d8b;
}
.swap-page
  .swap-content
  .swap-rate
  .swap-rate-container
  .swap-rate-fee
  .connect-wallet {
  background: rgb(40, 95, 134);
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
}

.swap-page .swap-content .fixed-price {
  margin-top: 20px;
}
.swap-page .swap-content .fixed-price .fixed-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap-page .swap-content .fixed-price .fixed-header svg {
  cursor: pointer;
}

/* fixed */

.swap-page .swap-content .fixed-rate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 30px; */
  padding: 30px 0;
  flex-direction: column;
}
.swap-page .swap-content .fixed-rate h5 {
  color: #607d8b;
  margin: 10px 0;
}
.swap-page .swap-content .fixed-rate .estimated {
  padding: 8px;
  border: 1px solid rgba(96, 125, 139, 0.5);
  font-size: 12px;
  font-weight: 500;
  color: #607d8b;
  margin-top: 1rem;
}

.swap-page .swap-content .fixed-rate .estimated strong {
  color: white;
}

.swap-page .swap-content .fixed-rate-nums h5 {
  color: white;
  font-size: 12px;
}

.swap-page .swap-content .fixed-rate  .fixed-rate-fee {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swap-page .swap-content .fixed-rate .fixed-rate-fee span {
  border-color: #60fbd0;
  color: #60fbd0;
  background: rgba(96, 251, 208, 0.1);
  padding: 8px;
  border-radius: 14px;
}

.connect-wallet {
  background: linear-gradient(45deg, #1e92e6, #60fbd0 75%, #1c6599 150%);
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
}

.swap-page .swap-content .fixed-price {
  margin-top: 20px;
}
.swap-page .swap-content .fixed-price .fixed-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap-page .swap-content .fixed-price .fixed-header svg {
  cursor: pointer;
}

.last-tag {
  padding: 8px;
  border: 1px solid rgba(96, 125, 139, 0.5);
  font-size: 12px;
  font-weight: 500;
  color: #607d8b;
  margin-top: 1rem;
}

.swap-page .swap-content .fixed-rate .top-container {
  display: flex;
  width: 100%;
  /* justify-content: space-evenly; */
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .swap-page .swap-content .swap-exchange {
    width: 100%;
  }
  .swap-page .swap-content .swap-exchange .swap-dropdowns {
    flex-direction: column;
  }

  .swap-page .swap-content .swap-exchange .swap-dropdowns .left-drop,
  .swap-page .swap-content .swap-exchange .swap-dropdowns .right-drop {
    margin: 15px 0;
    width: 100%;
  }

  .swap-page
    .swap-content
    .swap-exchange
    .swap-dropdowns
    .left-drop
    .input-container,
  .swap-page
    .swap-content
    .swap-exchange
    .swap-dropdowns
    .right-drop
    .input-container {
    width: 50%;
  }

  .swap-rate-container {
    justify-content: space-between;
  }
}
